{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Barber Shop</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sequi consequatur eveniet asperiores quod dolorum, 
            corrupti, molestias suscipit et veniam nostrum nisi vitae. 
            Aut consectetur reprehenderit illo ad ea praesentium quia.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                signup
            </a>
        </div>

        </section>
</main>
{% endblock %}